<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" 
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/WEB-INF/templates/menu.xhtml">
	
	<ui:param name="claseSupervisionLectores" value="" />
	<ui:param name="claseSupervisionAuxiliares" value="" />
	<ui:param name="claseListadoPersonasAdministrador" value="" />
	<ui:param name="claseListadoSupervisores" value="" />
	<ui:param name="claseListadoUniversidadesOrigen" value="selected" />
	<ui:param name="claseListadoCentrosDestino" value="" />
	
	<ui:define name="title">
		<h:outputText value="Supervisión Lectores y Auxiliares - Universidades de Origen" />
	</ui:define>
	
	<ui:define name="contenido">
		<h2>Universidades Origen</h2>
		
		<h:form id="formListarUniversidadesOrigen" styleClass="formListarUniversidadesOrigen" rendered="#{p:ifGranted('ROL_ADMINISTRADOR_SUPERVISIONLECTORESAUXILIARES')}">
			<p:messages id="msgs" closable="true" autoUpdate="true"/>
			
			<div class="botones_cabecera button-holder">
				<p:commandButton styleClass="botonCrear" id="botonCrear" value="Añadir nueva universidad" 
						action="#{universidadesOrigenBean.irACrearUniversidadOrigen}" >
				</p:commandButton>
			</div>
						
			
			<p:dataTable id="tablaListado" styleClass="tablaListado" widgetVar="widgetTabla" value="#{universidadesOrigenBean.listaUniversidadesOrigen}" 
				var="universidad" rowKey="#{universidad.id}"  paginator="true" rows="50" rowsPerPageTemplate="10,20,50,100,200"  filteredValue="#{universidadesOrigenBean.listaUniversidadesOrigenFiltradas}" emptyMessage="No hay listado de universidades de origen">

				<p:column headerText="Nombre" sortBy="#{universidad.nombre.toUpperCase()}"
					filterBy="#{universidad.nombre}" filterMatchMode="contains">
					<h:outputText value="#{universidad.nombre}" />
				</p:column>
				
				<p:column headerText="Dirección Postal" sortBy="#{universidad.direccionPostal.toUpperCase()}"
					filterBy="#{universidad.direccionPostal}" filterMatchMode="contains" >
						<h:outputText value="#{universidad.direccionPostal}" />
				</p:column>

				<p:column headerText="Teléfono" sortBy="#{universidad.telefono.toUpperCase()}"
					filterBy="#{universidad.telefono}" filterMatchMode="contains" >
						<h:outputText value="#{universidad.telefono}" />
				</p:column>
				
				<p:column headerText="Sueldo Mes Lector" sortBy="#{universidad.universidadOrigen.sueldoMesLector}"
					filterBy="#{universidad.sueldoMesLector}" filterMatchMode="contains" >
						<h:outputText value="#{universidad.sueldoMesLector}" />
				</p:column>
				
				<p:column headerText="Sueldo Mes Auxiliar" sortBy="#{universidad.universidadOrigen.sueldoMesAuxiliar}"
					filterBy="#{universidad.sueldoMesAuxiliar}" filterMatchMode="contains" >
						<h:outputText value="#{universidad.sueldoMesAuxiliar}" />
				</p:column>

				<p:column >
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle"
							data-toggle="dropdown">
							Acciones<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li>
								<p:commandLink value="Ver" name="ver" 
									action="#{universidadesOrigenBean.setUniversidadOrigenSeleccionada(universidad)}"
									/>
							</li>
							
							<li>
								<p:commandLink value="Editar" name="editar" 
									action="#{universidadesOrigenBean.setActualizarUniversidadOrigen(universidad)}"
									 />
							</li>
							
							<li>
								<p:commandLink value="Eliminar" name="eliminar" 
									action="#{universidadesOrigenBean.eliminarUniversidadOrigen(universidad)}"									 
									update="formListarUniversidadesOrigen" >
									<p:confirm header="Confirmación" message="¿Estás seguro de eliminar universidad?" icon="ui-icon-alert"  />
								</p:commandLink>
							</li>
														
						</ul>
					</div>
				</p:column>
				
			</p:dataTable>
				
			<p:confirmDialog global="true" showEffect="fade" >
		        <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
		        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
		    </p:confirmDialog>
		    
		</h:form>
		
		
		
	</ui:define>
	
</ui:composition>
